Computer_Organisation

Machine_Learning

SQL

Digital_Image_Processing/finalProject/data
Digital_Image_Processing/finalProject/model.h5
Digital_Image_Processing/finalProject/model.yaml
Digital_Image_Processing/finalProject/REPORT.docx
Digital_Image_Processing/SIFT

Machine_Learning

Web_Development_with_NodeJS/520H0693_520H0581_520H0566
Web_Development_with_NodeJS/520H0693
Web_Development_with_NodeJS/microservice-demo
Web_Development_with_NodeJS/microservice-redis
Web_Development_with_NodeJS/Submission_Folder
Web_Development_with_NodeJS/e-commerce-website
Web_Development_with_NodeJS/React-Apps
Web_Development_with_NodeJS/e_commerce
Web_Development_with_NodeJS/Lab01/node_modules
Web_Development_with_NodeJS/Lab03_04/node_modules
Web_Development_with_NodeJS/Lab03_04/.env
Web_Development_with_NodeJS/Lab05/node_modules
Web_Development_with_NodeJS/Lab05/Lab05.pdf
Web_Development_with_NodeJS/Lab05/.env
Web_Development_with_NodeJS/Lab06/node_modules
Web_Development_with_NodeJS/Lab06/Lab06+07.pdf
Web_Development_with_NodeJS/Lab06/.env
Web_Development_with_NodeJS/Lab08/node_modules
Web_Development_with_NodeJS/Lab08/.env
Web_Development_with_NodeJS/Lab10/node_modules
Web_Development_with_NodeJS/Lab10/.env

